* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    list-style-type: none;
}

a {
    color:#000;
}
header {
    max-width: 110%;
    display: flex;
    justify-content: space-between;
}
ul.left-menu {
    display: flex;
    justify-content: left;
    flex-direction: row;
    justify-content: flex-start;
} 
ul.right-menu {
    display: flex;
    justify-content: right;
    flex-direction: row;
    justify-content: flex-end;
}
li {
    margin: 10px 0px;
    padding: 0 15px;
}

body{
    align-items: center;
}

.logo {
    margin-top: 5%;
    margin-left: 42.5%;
    display: block;
    position: relative;
}
.input-icon i { 
    position: absolute; 
} 
  
.input-icon { 
    width: 100%; 
} 
.icon { 
    margin-left: 35%;
    padding: 10px; 
    color:grey; 
    min-width: 50px; 
    text-align: center; 
} 
.search {
    margin: 2% auto;
    display: block;
    padding: 10px;
    border-radius: 15px;
    width: 30%;
}
.bodylink {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(221, 217, 217, 0.459);
    color: #000;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #4285f4;
    color: #fff;
    border-radius: 2px;
}
.button1 {
    background-color: rgba(221, 217, 217, 0.459);
    color: #000;
    border-radius: 2px;
    padding: 10px;
}
